<form [formGroup]="taskForm" class="needs-validation" (ngSubmit)="closeAndSendData()" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Modificar tarea</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3" [ngClass]="{'was-validated': title?.invalid && (title?.dirty || title?.touched)}">
            <label for="title" class="form-label">Título</label>
            <input type="text" formControlName="title" class="form-control" id="title" maxlength="255" required autocomplete="off" placeholder="Ingrese el nombre de la tarea">
            @if(title?.invalid && (title?.dirty || title?.touched)){
                <div class="invalid-feedback">
                    @if(title?.hasError('required')){
                        <span>
                            El título es requerido
                        </span>
                    }
                    @if(title?.hasError('maxlength')){
                        <span>
                            El título debe tener máximo 255 caracteres
                        </span>
                    }
                </div>
            }
            
        </div>
        <div class="mb-3" [ngClass]="{'was-validated': description?.invalid && (description?.dirty || description?.touched)}">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" formControlName="description" id="description" rows="3" maxlength="1000" required placeholder="Ingrese la descripción de la tarea"></textarea>
            @if(description?.invalid && (description?.dirty || description?.touched)){
                <div class="invalid-feedback">
                    @if(description?.hasError('required')){
                        <span>
                            La descripción es requerida
                        </span>
                    }
                    @if(description?.hasError('maxlength')){
                        <span>
                            La descripción debe tener máximo 1000 caracteres
                        </span>
                    }
                </div>
            }
        </div>
        <div>
            <span class="form-label d-block" for="isCompleted">Estado</span>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="isCompleted" formControlName="isCompleted">
                <label class="form-check-label" for="isCompleted">Completada</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
        <button type="submit" class="btn btn-warning px-3 d-flex align-items-center gap-1" [disabled]="taskForm.invalid || disableButton">
            @if(disableButton){
                <span class="material-symbols-outlined animate-spin">
                    progress_activity
                </span>
            }
            Guardar
        </button>
    </div>
</form>
