<div class="modal-header">
    <h4 class="modal-title">Eliminar tarea</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <p>¿Esta seguro que desea eliminar esta tarea <strong>{{taskToDelete?.title}}</strong>?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
    <button type="submit" class="btn btn-danger px-3 d-flex align-items-center gap-1" (click)="deleteTask()" [disabled]="disableButton">
        <span class="material-symbols-outlined animate-spin" *ngIf="disableButton">
            progress_activity
        </span>
        Eliminar
    </button>
</div>
