<div class="board-layout">
  <div class=""></div>
  <div class="board-layout__sidebar">
    <div class="board-layout__title">
      <img class="board-layout__title__icon" src="/brand.svg" alt="Icon"/>
      <h1 class="h4 m-0">Mi lista de tareas</h1>
    </div>    
      <button 
      type="button" 
      class="py-3 px-4 mb-3 rounded bg-blue-500 text-white fw-semibold shadow-md hover:shadow-lg w-full"
      (click)="openCreateTaskForm()">Añadir tarea</button>
  </div>
  <div class="board-layout__content">
    {{(tasks | async)?.length}}
    <ul>
      <li *ngFor="let task of (tasks | async)">
        hola {{task.title}}
        <br>
        <small>{{task.description}}</small>
        <button type="button" (click)="openUpdateTaskForm(task)">Editar</button>
        <button type="button" (click)="openDeleteTaskConfirmation(task)">Eliminar</button>
      </li>
    </ul>
    
  </div>
</div>