.board-layout{
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    width: 100%;
    padding : 1rem;
    gap: 1rem;
}
.board-layout__sidebar{
    width: 280px;
    flex: none;
}
.board-layout__title{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.board-layout__title__icon{
    height: 32px;
}
.board-layout__content{
    display: flex;
    overflow: auto;
}
.board-layout__content__column{
    width: 30%;
    min-width: 280px;
    max-width: 400px;
    padding: .25rem .5rem;
    border-radius: 8px;
    border: 1px dashed transparent;
}
