.board-layout{
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
    flex-direction: column;
}
.board-layout__content{
    display: flex;
    flex-direction: column;
    padding : 1rem;
    width: 100%;
}

@media screen and (min-width: 768px){
    .board-layout{
        flex-direction: row;
    }
    .board-layout__content{
        overflow: auto;
        flex-direction: row;
        max-height: 100vh;
    }
    .board-layout__content__column{
        width: 30%;
        min-width: 280px;
        max-width: 400px;
        padding: .25rem .5rem;
        border-radius: 8px;
        border: 1px dashed transparent;
    }
}
