.sidebar{
    padding : 1rem;
}
.sidebar__title{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.sidebar__title__icon{
    height: 32px;
}
.photo{
    height: 56px;
    width: 56px;
}
@media screen and (min-width: 768px){
    .sidebar{
        width: 280px;
        flex: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}
