<div class="shadow-md rounded p-3 mb-3 bg-white">
    <p class="line-clamp-2 mb-2">{{task()?.title}}</p>
    <p class="line-clamp-3 text-gray-500"><small>{{task()?.description}}</small></p>
    <div class="d-flex gap-2 justify-content-between align-items-center">
        <button type="button" class="btn btn-sm btn-outline-primary order-first p-2 d-flex align-items-center justify-content-center gap-1" (click)="openDeleteTaskConfirmation()" [autoClose]="true" placement="bottom" ngbTooltip="Eliminar tarea">
            <span class="material-symbols-outlined text-base">
                delete
            </span>
            <span class="md:sr-only">
                Eliminar
            </span>
        </button>
        <div class="d-flex gap-2 order-last">
            <button type="button" *ngIf="!task()?.isCompleted" class="btn btn-sm btn-primary md:order-2 p-2 d-flex align-items-center justify-content-center gap-1" (click)="completeTask()" [autoClose]="true" placement="bottom" ngbTooltip="Completar tarea">
                <span class="material-symbols-outlined">
                    task_alt
                </span>
                <span class="md:sr-only">
                    Completar tarea
                </span>
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary md:order-2 p-2 d-flex align-items-center justify-content-center gap-1" (click)="openUpdateTaskForm()" [autoClose]="true" placement="bottom" ngbTooltip="Editar tarea">
                <span class="material-symbols-outlined">
                    edit
                </span>
                <span class="md:sr-only">
                    Editar
                </span>
            </button>
        </div>
        
    </div>
</div>
